# Logs y Archivos del Sistema
*.log
.DS_Store
Thumbs.db

# Variables de Entorno (¡Nunca subir!)
.env
.env.*
.env.backup
auth.json

# Dependencias (Lo más importante para tu error)
node_modules/
V1.0.0/node_modules/
vendor/

# Editores y Herramientas
.fleet/
.idea/
.nova/
.vscode/
.zed/
.phpactor.json
.phpunit.result.cache
.phpunit.cache/

# Compilados de Frontend
public/build/
public/hot/
dist/
.vite/

# Laravel / Almacenamiento
storage/*.key
storage/pail/
public/storage/

# Otros
Homestead.json
Homestead.yaml